:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-white: #ffffff;
  --color-primary: #334455;
  --color-secondary: #bbccdd;

  --tf: ease-out;
  --tt: 0.2s;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-primary);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3vw;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

.main {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

@media screen and (max-width: 767px) {
  #root {
    max-width: 100%;
    margin: 0;
    padding: 6.25vw;
    text-align: center;
    flex-grow: 1;
  }

  .main {
    width: 100%;
    max-width: 100%;
  }
}